# config.yaml
gateway:
  address: ":8080"
  timeout: 60s
  idle_timeout: 120s
  read_header_timeout: 5s
  kaspersky_api_key: "YOUR_KASPERSKY_API_KEY"
  iam_token: "YOUR_IAM_TOKEN"
  folder_id: "YOUR_FOLDER_ID"
  log_format: "json"
  log_file: "/var/log/minions-server.log"
  session:
    cookie_secure: false # true при использовании HTTPS
    #csrf_key: "YOUR_SECURE_RANDOM_CSRF_KEY" Unused in this version
    session_lifetime: "2400h"
    session_idle_timeout: "24h" # Таймаут неактивности

# Конфигурация PostgreSQL
postgres:
  host: "postgres"
  port: 5432
  user: "postgres"
  password: "postgres"
  dbname: "minions"
  sslmode: "disable"

# Конфигурация Redis
redis:
  addr: "redis:6379"
  password: "redis"
  db: 0
